# Binaries
bin/
hem/hem
mi6/mi6-server
mi6/mi6-client
moneypenny/moneypenny
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build/test
*.test
*.out

# SQLite
*.db
*.db-wal
*.db-shm

# SSH keys
*_ecdsa
*_ecdsa.pub
*.pem

# OS
.DS_Store
Thumbs.db
